<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    
    <!--Home-->
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    
    <!--Books-->
    <a class="sidebar-nav-item" href="/books/"><i class="fa fa-book" aria-hidden="true"></i>Books</a>
   
    <!--Download-->
    <a class="sidebar-nav-item" title="{{ site.issue.num_small }}" href="https://guanghou-my.sharepoint.com/personal/kentwang_edu_get365_pw/_layouts/15/guestaccess.aspx?docid=034651e95c0f84f9ea6a9f1bf8ae8fd29&authkey=AcLnltXbGN--2A_9mmmIsu8"><i class="fa fa-cloud-download" aria-hidden="true"></i>Download ({{ site.issue.size }} M)</a>
    
    <!--About-->
    <a class="sidebar-nav-item" href="/about/">About</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
