<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>
          
          <h3 class="masthead-title"> 
            <a class="header-logo" href="{{ site.baseurl }}/" data-hasqtip="1" title="Welcome!" aria-describedby="qtip-1" >
              <i class="fa fa-github" aria-hidden="true"></i>
              {{ site.title }}  
            </a>
            
              <small>&nbsp;{{ site.tagline }}</small> 
            <div id="headicons">
              <small><a href="/about/" title="About"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></small>
              <small><a href="/books/" title="Books"><i class="fa fa-book" aria-hidden="true"></i></a></small>
              <small><a href="/archive/" title="Codes" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a></small>
              <small><a href="http://weibo.com/u/5627721452" rel="me" title="Weibo" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></small>
            </div>
            </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
    
    {% include footer.html %}

    {% include totop.html %}
  </body>
</html>
